body {
    margin: 0px 0px 0px 0px;
    background: #000000;

}

span {
    font-family: Arial, Helvetica, Sans-Serif;
    color: #000000;
    font-size: 10pt;
    line-height: 140%;
}

b {
    font-family: Arial, Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    font-size: 10pt;
}

small {
    font-family: verdana, arial, sans-serif;

    font-size: 8pt;
    font-weight: normal;
}


p {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
}


span.date {
    font-family: Courier New, sans-serif, verdana, arial;
    color: #E7CF9E;
    font-size: 12pt;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 2px;


}

TD.bevel {

    border-width: 2px;
    border-style: solid;
    border-color: #FFF7E5 #877D69 #877D69 #FFF7E5;

}

.error {
    color: #FF0000;
    font-weight: bold;
}

A {
    color: #003366;
    text-decoration: underline;
    font-weight: bold;
}

A:link {
    color: #003366;
    text-decoration: underline;
    font-weight: bold;
}

A:visited {
    color: #003366;
    text-decoration: underline;
    font-weight: bold;
}

A:active {
    color: #FFFFFF;
}

A:hover {
    color: #C60000;
}

h1, h2, h3 {
    margin: 0px;
    padding: 0px;
}

.title {
    font-family: palatino, georgia, times new roman, serif;
    font-size: 13pt;
    color: #640909;
}

.titleSm {
    font-family: palatino, georgia, times new roman, serif;
    font-size: small;
    color: #640909;
}

.posted {
    font-family: verdana, arial, sans-serif;
    font-size: x-small;
    color: #200F01;
    margin-bottom: 25px;
}


.blogbody {
    font-family: arial, palatino, georgia, verdana, arial, sans-serif;
    color: #200F01;
    padding: 5px;

    font-size: 10pt;
    font-weight: normal;
    background-image: url('/images/parchment/plain/light.jpg');

    border-style: solid;
    border-color: #000000;
    border-width: 0px;
    border-bottom-width: 1px;
    border-top-width: 1px;
    background-color: #E7CFA3;
    line-height: 140%;
}

.postContainer {
    font-family: arial, palatino, georgia, verdana, arial, sans-serif;
    color: #000000;
    padding: 5px;
    margin-right: 14px;
    margin-bottom: 4px;
    font-size: 10pt;
    font-weight: normal;
    background-color: #E7CFA3;
    background-image: url('/images/parchment/plain/light.jpg');
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
    border-bottom-width: 1px;
    border-top-width: 1px;

    line-height: 140%;
}

.postBody {

    padding: 10px;

}


.sidebar {
    font-family: arial, palatino, georgia, verdana, arial, sans-serif;
    color: #200F01;
    padding: 0px;
    background-color: #E7CFA3;
    font-size: 10pt;
    font-weight: normal;
    background-image: url('/images/parchment/plain/light.jpg');
    border-style: solid;
    border-color: #000000;
    border-width: 0px;
    border-bottom-width: 1px;
    border-top-width: 1px;

    line-height: 140%;
}

.lightBoxBorder {
    border-width: 1px;
    border-style: dotted;
    border-color: black;
}


.lightBoxBody {
    background-color: #F8E6C2;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    background-image: url('/images/parchment/plain/light3.jpg');
}

.header {
    background-color: #5F1208;
    background-image: url('/images/parchment/plain/light3/parchborder/parchborder-top.gif');
    width: 100%;
    margin: 0px;
    border: 0px solid black;
}

.blogbody a,
.blogbody a:link,
.blogbody a:visited,
.blogbody a:active,
.blogbody a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.large {
    font-size: 12pt;
}

.small {
    font-size: 7pt;
}

.smallError {
    font-size: 8pt;
    font-weight: bold;
    color: #FF0000;
}


A.yellow {
    color: #CBA300;
    text-decoration: underline;
    font-weight: bold;
}

A.yellow:link {
    color: #CBA300;
    text-decoration: underline;
    font-weight: bold;
}

A.yellow:visited {
    color: #CBA300;
    text-decoration: underline;
    font-weight: bold;
}

A.yellow:active {
    color: #FFFFFF;
}

A.yellow:hover {
    color: #FFFFFF;
}

.grey {
    color: #CFCFCF;
}

TD.menuHeader {
    color: #CBA300;
    font-size: 8pt;
    font-family: arial, helvetica, sans-serif;
    background-color: #2E2D2B;
    border-style: solid;
    border-width: 1px;
    border-color: #5D5D5D #5D5D5D #1E1D1C #1E1D1C;
}

TD.headerOutline {
    border-style: solid;
    border-width: 1px;
    border-color: #271A13;
    padding: 2px;
}

a.button:link {
    color: #CBA300;
    display: block;
    padding: 1px;
}

a.button:visited {
    color: #CBA300;
    display: block;
    padding: 1px;
}

a.button:hover {
    color: #ffffff;
    background-color: #565553;
    display: block;
    padding: 1px;
}

a.button:active {
    color: #FFFFFF;
    display: block;
    padding: 1px;
}

TD.row {
    padding: 2px;
    background-image: url('/images/parchment-light2.jpg');
    background-color: #161616;
    border-style: solid;
    border-width: 1px;
    border-color: #000000 #000000 #161616 #161616;
    font-size: 10pt;
    text-align: left;
    vertical-align: top;
}

TD.rowAlt {
    padding: 2px;
    background-image: url('/images/parchment-light3.jpg');
    background-color: #252525;
    border-style: solid;
    border-width: 1px;
    border-color: #000000 #000000 #252525 #252525;
    font-size: 10pt;
    text-align: left;
    vertical-align: top;
}

TD.tableHeader {
    background-color: #393731;
    background-image: url('/images-new/thread-topic-bg2.gif');
    border-style: solid;
    border-width: 1px;
    border-color: #8F8F8F #8F8F8F #171511 #171511;
    font-size: 10pt;
    font-weight: bold;
    color: #ffffff;
}

TD.tableOutline {
    border-style: solid;
    border-width: 1px;
    border-color: #343434;
}